
  /* Navbar */
  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
  }

/* Overordnet styling */
.søge-container {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

/* Forstørrelsesglas ikon */
.søge-ikon {
  font-size: 200%; /* Størrelse på ikonet */
  cursor: pointer;
  display: flexbox;
}

.søge-ikon:hover {
  transform: scale(1.5); /* Gør ikonet større ved hover */
}

/* Skjul søgefeltet som standard */
.søge-felt {
  width: 0;
  height: auto; /* breddden på søgefeltet*/
  padding: 0;
  border: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* Checkbox (skjult) */
.visning {
  display: none;
}

/* Når checkboxen er tændt */
.visning:checked ~ .søge-felt {
  width: 100%; /* Søgfeltets bredde */
  display: flex;
  margin-top: 1.5%; /* retter søgefeltet til så det står korekt udfra forstørrelsesikon */
  margin-left: 4%;/* retter søgefeltet til så det står korekt udfra forstørrelsesikon */
  opacity: 1; /* Gør Søgfeltet synligt */
  width: 100%;
  max-width: 10%; /* Justere størrelsen på søgefeltet */
  padding: 1%;
  font-size: small;
  background-color: #371042;
  color: #ffffff;
  border-radius: 100px;
}
  
  /* Søgefelt */
  .søge-container {
    display: flex;
    justify-content: flex-start;
    flex: 1;
  }
  
  .søge-input {
    width: 100%;
    max-width: 60px; /* Juster størrelsen på søgefeltet */
    padding: 8px;
    font-size: 16px;
    border: 2px solid #371042;
    background-color: #371042;
    color: #ffffff;
    border-radius: 200px;
  }

  /* Logo */
  .Logo {
    flex: 1; /* Sørger for at logo har samme størrelse som søgefletet*/
    align-items: center;
    margin-left: -130px; /* Sørger for at logo ligger sig i midten*/
  }
  
  .Logo img {
    max-width: 150px; 
    height: auto;
  }
  
  /* Burger-menu */
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }
  
  .burger-menu span {
    background-color: #371042;
    height: 3px;
    border-radius: 3px;
  }
  
  /* Navigation Links */
    .nav-links {
    display: none;
    flex-direction: column;
    justify-content: space-between;  
    align-items: center;   
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #4f2c8c;
    padding: 30px;
    border-radius: 5px;
    list-style: none;
    }
  
  .nav-links li {
    margin: 20px;
  }

  .nav-links li li a {
    text-decoration: none;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  .nav-links a:hover {
    color: #371042; /* Ændre farven på links når de hoveres */
  }

  /* Fjerner checkbox felt*/
  .menu-knap {
    display: none;

  }
  
  /* Når burgeren er markeret, vises menuen */
  .menu-knap:checked + .burger-menu + .nav-links {
    display: flex;
  }

  /* Juster burger-menuen, når den er åben */
  .menu-knap:checked + .burger-menu span {
    background-color: #007bff;
  }
  


.footer {
  display: flex;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  background-color: #371042;
  color: #fff;
  margin-top: 5%;
}

/* Flex styling til hver footer-sektion */
.footer-sektion {
  display: flex;
  flex-direction: column; /* Laver en lodret stak af h2 og p */
  align-items: center; /* Justerer elementerne over hinanden */
  padding: 2%;
}

/* små overskrifter til hver footer-sektion */
.footer-sektion h2 {
  text-align: center;
  margin: 0;
  font-size: medium;
}

/* tekst i de forskellige sketioner */
.footer-sektion p{
  text-align: center;
  margin-top: 5%;
  font-size: small;
  
}

/* Insta og facebook logo */
#Instaface{
  width: 100px;
  height: auto;
  margin-top: 1% ;
}


/*Media for tablet*/
@media only screen and (min-width: 701px) and (max-width: 1200px) {

  .footer-sektion {
  display: flex;
  flex-direction: column; /* Laver en lodret stak af h2 og p */
  align-items: center; /* Justerer elementerne over hinanden */
  margin: 2%;
  padding: 2%;
  }
      
  .footer-sektion h2 {
  text-align: center;
  margin: 0;
  font-size: small;
  }
      
  .footer-sektion p{
  text-align: center;
  margin-top: 5%;
  font-size: x-small;
  }
}

/* Media for mobiltelefoner */
@media (max-width: 700px) {

  .footer{
  flex-direction: column;
  align-items: center;
  padding-top: 8%;
  padding-bottom: 8%;
  }

  .search-input {
  width: 50%;
  max-width: 20px; /* Juster størrelsen på søgefeltet */
  padding: 8px;
  font-size: 8px;
  border: 2px solid #371042;
  background-color: #371042;
  color: #ffffff;
  border-radius: 200px;
  }
}