/* Grundlæggende stil for body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e1e6e1;
  }

/* Styling af begge guitar illustartioner */
.Guitar{
    width: 100%;
    height: auto;
}

/* Styling af overskrifter */
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: #371042;
    padding-left: 5%;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    color: #371042;
    padding-left: 5%;
}

section{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    color: #371042;
    padding-left: 5%;
    margin-right: 10%;
}

.skraetekst{
    font-style: oblique;
}

article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.8;
    color: #000;
    padding-left: 5%;
    display: flexbox;
    margin-right: 5%; /* sørger for at det er centreret med de andre tekster */
}

.broedtekst{
    margin-left: -5%;/* sørger for at det er centreret med de andre tekster */
    margin-right: 6%;/* sørger for at det er centreret med de andre tekster */
}

#Lasse{
    width: 30%;
    height: auto;
    padding-right: 5%;
}

#Noder{
    width: 10%;
    height: auto;
    padding-left: 10%;
}

.billedeogquote{
    display: flex;
    justify-content: start;
    align-items: center;
}

.kolonner{
    display: flex;
    justify-self: space-between;
    align-content: start;
    margin-left: -5%;/* sørger for at det er centreret med de andre tekster */
    gap: 5%;
}

#Lassedanser{
    width: 47%;
    height: auto;
    display: flexbox;

}

/*Media for tablet*/
/*Jeg har på denne side valgt at lave tablet mediaet mindre, da det gav mening ift mine kolonner */
@media only screen and (min-width: 850px) and (max-width: 1200px) {

    /* Styling af overskrifter */
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    color: #371042;
    padding-left: 5%;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    color: #371042;
    padding-left: 5%;
}

section{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: #371042;
    padding-left: 5%;
}
article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    line-height: 1.8;
    color: #000;
    padding-left: 5%;
    display: flexbox;
    margin-right: 5%;
    
}

}
/* Media for mobil */
/*Jeg har derfor gjort mobil mediaet 100px større*/
@media (max-width: 849px) {

    /* Styling af overskrifter */
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    color: #371042;
    padding-left: 5%;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    color: #371042;
    padding-left: 5%;
}

section{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: #371042;
    padding-left: 5%;
}
article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    line-height: 1.8;
    color: #000;
    padding-left: 5%;
    display: flexbox;
    margin-right: 5%;
}

.billedeogquote{
    display: block;
    justify-content: center;
    align-items: center;
}

#Lasse{
    width: 90%;
    height: auto;
    padding-right: 5%;
}

#Noder{
    width: 10%;
    height: auto;
    padding-left: 70%;
    margin-top: -40%;
}

.kolonner{
    display: block;
    margin-left: -5%;/* sørger for at det er centreret med de andre tekster */
    gap: 5%;
}

#Lassedanser{
    width: 90%;
    height: auto;
    display: flexbox;
    flex-direction: column;
    gap: 10px;
}
}