/* Grundlæggende stil for body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e1e6e1;
  }

/* Styling af begge guitar illustartioner */
.Guitar{
    width: 100%;
    height: auto;
}

/* Styling af overskrifter */
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: #371042;
    padding-left: 5%;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    color: #371042;
    padding-left: 5%;
}

section{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    color: #371042;
    padding-left: 5%;
}

.skraetekst{
    font-style: oblique;
    font-weight: 300px;
}

article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.8;
    color: #000;
    padding-left: 5%;
    display: flexbox;
    margin-right: 5%;
    
}

#Lasse{
    width: 30%;
    height: auto;
    padding-right: 5%;
}

#Noder{
    width: 10%;
    height: auto;
    padding-left: 10%;
}

.billedeogquote{
    display: flex;
    justify-content: start;
    align-items: center;
}

.kollonner{
    display: flex;
    justify-self: space-between;
    align-content: start;
    margin-left: -5%;
    gap: 5%;
}

#Lassedanser{
    width: 48%;
    height: auto;
    display: flexbox;

}