/* Grundlæggende stil for body */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e1e6e1;
  }

/* Gør Navigationsbaren den korrekte farve på forsiden*/
.navbar {
    background-color: #371042;
  }
  
/* Gør burgerbaren den korrekte farve på forsiden*/
.burger-menu span {
    background-color: #ffff;
    height: 3px;
    border-radius: 3px;
  }

/* Skjuler lille logo*/
.Logo img {
    display: none;
 }

/* Styler stort logo*/
#Stortlogo{
    margin-top: 7%;
    margin-bottom: 2%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: auto;
}

/* animation der får logo til at slide ind*/
img.slide {
    transform: translateX(-100%);
    opacity: 0;
    animation: slideIn 2.5s ease-out forwards;
}
  
@keyframes slideIn {
    to {
    transform: translateX(0);
    opacity: 1;
    }
}



/* Styler begge guitar billeder*/
.Guitar{
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*styling af forsidebilleder/links til artikler*/
#Forsidebillede{
    width: 90%;
    height: auto;
    margin: 5%;
}

.Forsidebilleder{
    display: flex;
}


/*styling af artikler*/
.artikler {
    width: 100%;
    margin: auto;
}

.sektion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    background-color: #4f2c8c;
    padding-bottom: 2%;
    padding-top: 2%;
}


.sektion h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}

.sektion p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.5;
    color: white;
    padding-left: 5%;
    padding-right: 5%;

}

.sektion .tekst {
    flex: 1;
    padding: px;
}

.sektion .billede {
    flex: 1;
    text-align: center;
}

.sektion .billede img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    opacity: 60%;
}

/* Justering af tekstretning */
.venstre {
    text-align: left;
}

.højre {
    text-align: right;
}

/*Media for tablet*/
@media only screen and (min-width: 701px) and (max-width: 1200px) {

    .sektion p {
        line-height: 1.5;
        font-size: xx-small;
        color: white;
        padding-left: 5%;
        padding-right: 5%;
    }

}

/* Responsivt design */
@media (max-width: 700px) {

    /* Styler stort logo*/
    #Stortlogo{
        margin-top: 7%;
        margin-bottom: 2%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        height: auto;
}

    .Forsidebilleder{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .sektion {
        flex-direction: column;
        text-align: center;
    }

    .sektion .tekst {
        padding: 10px;
    }

    .sektion .image img {
        width: 50%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    
}